@model ProductionCFD2.Models.ProductionTable

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductionTable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Production_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Production_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shift)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shift.Shift_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material.Material_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Input_Batch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Input_Batch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total_Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total_Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total_Input)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total_Input)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rolling_Plan_Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rolling_Plan_Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grinding_Loss)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grinding_Loss)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grinding_Wheel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grinding_Wheel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndCut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndCut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sample_Loss)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sample_Loss)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Finish_Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Finish_Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yield)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yield)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftIncharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShiftIncharge.ShiftIncharge_Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Production_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
